@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(129, 182, 218);
    --primary-color-darker: rgb(2, 57, 92);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container1 {
    max-width: 640px;
    margin: 50px auto; /*vai colocar o conteúdo no centro da página*/
    background: rgb(47, 157, 207);
    padding: 20px;
    border-radius: 10px;
}

.left{
    display: inline-block;
}

.right{
    display: inline-block;
    margin-left: 60px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid rgb(4, 4, 99);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background: rgb(131, 228, 212);
    padding: 10px 20px;
}

.bad {
    background: rgb(226, 115, 107);
}